<h1>Recepies</h1>
<ul>
  <% @recipes.each do |r| %>
  <li><h3><%= r.name%></h3><br>
          <%= r.ingredients%><br>
          <%= r.cook_time%></li>
      <a href="/posts/#{r.id}"></a>
    <%end%>

</ul>
