<h1> Enter New Recipe</h1>

<form action="/recipes" method="post">
  <h3>Name:</h3> <input type="text" name="name" value="">
  <h3>Ingredients:</h3> <input type="text" name="ingredients" value="">
  <h3>Cooking Time:</h3> <input type="text" name="cook_time" value="">
  <input id="submit" type="submit" name="" value="Submit">

</form>
